.side-details {
  height: 100vh;
}
.cards {
  display: flex;
}
.add-post-btn {
  padding: 16px 24px;
  height: auto;
  font-size: 24px;
}
.new-post-details {
  margin: 64px 16px;
}
.input-name {
  margin-bottom: 20px;
}
