.side-details {
  min-height: 100vh;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}
.add-post-btn {
  padding: 16px 24px;
  height: auto;
  font-size: 24px;
}
.new-post-details {
  margin: 64px 16px;
}
.input-name {
  margin-bottom: 20px;
}
.my-profile {
  display: flex;
}
.left-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 800px;
  background-color: rgb(245, 245, 245);
  border-radius: 8px;
  padding: 10px;
  margin-right: 60px;
  margin-left: 30px;
}
.upper-container {
  display: flex;
}
.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 300px;
  background-color: rgb(245, 245, 245);
  border-radius: 8px;
  padding: 10px;
}

.user1,
.user2,
.user3 {
  display: flex;
}
.user1 h3,
.user1 p {
  margin: 0;
}
.user2 h3,
.user2 p {
  margin: 0;
}
.user3 h3,
.user3 p {
  margin: 0;
}
